*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--font);
    color: var(--text-color);
    background-color: white;
}

main {
    max-width: 1360px;
    margin: 0 auto 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    margin: none;
}

/* button,
input {
    font-family: inherit;
    font-size: 0.75rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
} */

p,
h2 {
    color: var(--text-color);
}


/* RESUABLE CLASSES */

.d-grid {
    display: grid;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
}

.button {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.938rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 2.5rem;
}





/* Hero */

.hero {
    background-color: #F9F9FF;
}

.hero-container {
    padding: 9.25rem 3.938rem 16.625rem 1.5rem;
    position: relative;
}

.hero-tagline {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.438rem;
}

.hero-tagline span {
    color: var(--primary-color);
}

.hero-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    margin-top: 1rem;
    padding-right: 2.938rem;
}

.hero-button {
    width: max-content;
    margin-top: 2.5rem;
}


.circle-1,
.circle-2 {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.circle-1 {
    background: var(--accent-color);
    filter: blur(300px);
    top: 3.375rem;
    left: -0.563rem;
}

.circle-2 {
    background: var(--primary-color);
    filter: blur(300px);
    right: 0.625rem;
    bottom: 6.563rem;
}

/* Qualities */

.qualities-container {
    margin-top: 1rem;
    gap: 2.5rem;
}

.quality-1,
.quality-2 {
    place-items: center;
    text-align: center;
}

.quality-title {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.quality-text {
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 24px;
}

.qualities-container .button {
    margin-top: 2rem;
}

/* Get started */

.get-started {
    background-color: #F9F9FF;
    margin-top: 1rem;
}

.get-started-title {
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
    text-align: center;
}

.get-started-text-content {
    display: flex;
    flex-direction: row;
    gap: 2.188rem;
    margin-top: 2.5rem;
    padding-bottom: 3.063rem;
    padding-left: 2.063rem;
    padding-right: 1.625rem;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers p {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.numbers .line {
    padding-block: 0.313rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-group .text h3 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.text-group .text p {
    color: var(--text-color);
    margin-top: 0.813rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 20px;
}

/* More Qualities */

.more-qualities .container {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    place-items: center;
    text-align: center;
}

.more-qualities .container h2 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.more-qualities .container p {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 2.5rem;
}

/* Reviews */

.reviews {
    background-color: #F9F9FF;
}

.reviews-container {
    padding-block: 3rem;
}

.reviews-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
    text-align: center;
}

.card {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-inline:1rem;
    border-radius: 40px;
}

.card-image {
    padding-block: 32px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
    padding-inline: 1rem;
}

.card-name {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 38px;
}

/* FAQ */

.faq {
    background-color: white;
}

.faq-container {
    padding: 40px;
}

.faq-container h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.faq-list-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.faq-list-title-2 {
    align-items: center;
}

.faq-list-title h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-color);
}

.faq-list-text {
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    transition: all ease-in-out .25s;
}
.faq-show .faq-list-text{
  display: block;
}
.dropdown {
    transition: all ease-in-out .25s;
}

.faq-show .dropdown {
    transform: rotate(180deg);
    transition: all ease-in-out .25s;
}

.activated .faq-list-text {
    display: block;
    transition: all ease-in-out .25s;
}

/* Footer */

.footer {
    background-color: var(--primary-color);
}

.footer-container {
    padding-top: 48px;
    place-items: center;
}

.footer-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    margin-bottom: 8px;
    text-align: center;
}

.footer-title span {
    color: var(--accent-color);
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.footer-button {
    background-color: white;
    color: var(--primary-color);
    margin-bottom: 55px;
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}



/* ABOUT.html */

/* About us */

.about-us .container {
    place-items: center;
    margin-block: 48px;
}

.about-us-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 4px;
}

.about-us-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    padding-inline: 20px;
}

/* Who are we */

.who-are-we {
    background-color: rgba(249, 249, 255, 1);
}

.who-are-we .container {
    padding-block: 40px;
    place-items: center;
}

.who-are-we-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 4px;
}

.who-are-we-container .seperator {
    display: flex;
    justify-content: center;
}

.who-are-we-text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding-inline: 30px;
}

.middle-text {
    margin-block: 20px;
}

/* Why we do it */

.why-we-do-it-container {
    place-items: center;
    padding-block: 48px;
}

.why-we-do-it-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 4px;
}

.why-we-do-it-container .text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding-inline: 36px;
}

.top-text {
    margin-bottom: 24px;
}



/* SUPPORT.html */

/* Support */

.support {
    background-color: rgba(249, 249, 255, 1);
    height: 100vh;
}

.support-container {
    position: relative;
}

.support-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.details input {
    padding: 16px;
    width: 100%;
}

.details p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
}

.email {
    margin-block: 16px;
}

.message input {
    max-height: 175px;
}

.textarea {
    outline: none;
    width: 100%;
    height: 175px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    resize: none;
    margin-bottom: 22px;
}

.support-container .btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.support-container .btns .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 14px;
    border-radius: 10px;
}

.go-home {
    color: var(--primary-color);
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px;
}

.popup {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 325px;
    height: 390px;
    background-color: white;
    border-radius: 30px;
    visibility: hidden;
    transition: transform .25s;
}

.popup.activated {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup-content {
    place-items: center;
}
.popup-content img {
    margin-top: 55px;
    margin-bottom: 24px;
}

.popup-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 8px;
}

.popup-content p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 48px;
}

.popup-content a {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 50px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 650px;
    z-index: 9;
    display: none;
    transition: transform .25s;
}

.overlay.activated {
    display: block;
}


/* Sign up.html */

#signup-body {
    background-color: rgba(249, 249, 255, 1);
    height: 100vh;
}

.signup-tagline {
    margin-top: 62px;
    place-items: center;
}

.signup-tagline p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 18px;
}

.confirm-password {
    margin-top: 16px;
}

.signup .btns,
.login .btns{
    margin-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup .btns .button,
.login .btns .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 14px;
    border-radius: 10px;
}

.signup .btns span,
.login .btns span {
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px;
}

.go-to-login {
    color: var(--primary-color);
}

.go-home {
    color: var(--primary-color);
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px;
}

/* Login.html */

#login-body {
    background-color: rgba(249, 249, 255, 1);
    height: 100vh;
}

.login-container .details .password {
    margin-top: 16px;
}

.checkbox-container {
    display: flex;
    position: relative;
    margin-top: 16px;
    align-items: center;
}

.checkbox-container input {
    width: 20px;
    margin-right: 16px;
}

.big-screen {
    display: none;
}


/* MEDIA QUERIES */


@media screen and (min-width: 1024px) {
    .small-screen {
        display: none;
    }

    .big-screen {
        display: block;
    }

    .button {
        padding: 20px 32px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .container {
        padding: 0 100px;
    }

    

    /* ====HOME==== */

    .hero-container {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.4rem;
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .hero-container-content {
        grid-column: span 4;
    }

    .hero-container-image {
        grid-column: span 4;
        place-items: center;
    }



    .hero-tagline {
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
    }

    .hero-text {
        margin-top: 40px;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.75;
    }

    .hero-button {
        margin-top: 60px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .qualities-container {
        margin-top: 120px;
        margin-bottom: 150px;
    }

    .quality-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
    }

    .quality-text {
        width: 800px;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.75;
    }

    .quality-2 {
        margin-top: 120px;
    }

    .qualities-container .button {
        margin-top: 56px;
    }

    .get-started .container {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.4rem;
        padding-block: 120px;
    }

    .get-started-content {
        grid-column: span 4;
    }

    .get-started-image {
        grid-column: span 4;
        place-items: center;
    }

    .text-group {
        gap: 56px;
    }

    .get-started-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
    }

    .text-group .text h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
    }

    .get-started-text-content {
        padding: 0;
    }

    .text-group .text p {
        font-weight: 300;
        font-size: 22px;
        line-height: 1.75;
    }

    .more-qualities .container {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.4rem;
        padding-block: 120px;
        text-align: left;
    }

    .more-qualities-content {
        grid-column: span 6;
    }

    .more-qualities-image {
        grid-column: span 2;
        place-items: center;
    }

    .more-qualities .container h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        width: 610px;
    }

    .more-qualities .container p {
        font-weight: 300;
        font-size: 22px;
        line-height: 1.75;
        width: 650px;
        margin-top: 26px;
        margin-bottom: 56px;
    }

    .reviews-container {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    .reviews-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
    }

    .card-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card:not(:last-child) {
        margin-right: 24px;
    }

    .card-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.75;
        text-align: center;
        padding-inline: 0;
    }

    .card-name {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .faq-container {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.4rem;
        padding-block: 120px;
    }

    .faq-container h2 {
        grid-column: span 4;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
    }

    .faq-list {
        grid-column: span 4;
    }

    .dropdown {
        display: none;
    }

    .faq-list-text {
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.75;
    }

    .faq-list-title h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
    }

    .footer-container {
        padding-block: 120px;
    }

    .footer-button {
        margin-bottom: 0;
    }

    .footer-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 24px;
    }

    .footer-text {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 48px;
    }

    .desktop-footer-container {
        padding-top: 56px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desktop-footer-nav {
        padding-top: 40px;
        padding-bottom: 56px;
    }

    .desktop-footer-nav .list-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .desktop-footer-container .copyright {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 0;
        text-align: center;
    }


    /* ====ABOUT==== */


    .about-us .container {
        margin-block: 0;
        padding-block: 120px;
    }

    .about-us-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .about-us-text {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.75;
        margin-top: 29px;
        padding-inline: 0;
        width: 730px;
    }

    .who-are-we-container {
        padding-block: 80px;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.4rem;
    }

    .who-are-we-container .seperator {
        justify-content: flex-start;
    }

    .who-are-we-image {
        grid-column: span 4;
        order: 1;
    }

    .who-are-we-content {
        grid-column: span 4;
    }

    .who-are-we-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
    }

    .who-are-we-text {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.75;
        text-align: left;
        padding-inline: 0;
        margin-top: 29px;
    }

    .middle-text {
        margin-block: 32px;
    }

    .why-we-do-it-container {
        padding-block: 80px;
    }

    .why-we-do-it-container h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .why-we-do-it-container .text p {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.75;
        width: 875px;
    }

    /* ====SUPPORT==== */

    .support {
        height: 100vh;
    }

    .support-container {
        padding: 64px 35% 0;
    }

    .support-image {
        display: flex;
        justify-content: center;
    }

    .support-title {
        padding-top: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    .support-container .submit-button {
        margin-bottom: 100px;
    }

    .details p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    /* ====SIGN UP==== */


    .signup-container {
        padding: 67px 35%;
    }

    .signup-tagline {
        margin-top: 0;
        margin-bottom: 57px;
    }

    .signup-tagline p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 0;
    }

    /* ====LOG IN==== */

    .login-container {
        padding: 72px 35%;
    }

    .password-text {
        display: flex;
        justify-content: space-between;
    }

    .forgot-password {
        color: var(--primary-color);
    }
}